#content {
  font-family: 'Montserrat', sans-serif;
}
.panel {
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
}
p {
  margin-bottom: 5px;
}
.audio {
  float: right;
}
.notfound {
  text-align: center;
}
#loading {
  text-align: center;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
